<%- contentFor('body') %>
<div>
	<div>id</div>
	<input type="text" id='id'>
</div>
<div>
	<div>pw</div>
	<input type="password" id='pw'>
</div>
<div>
	<div>name</div>
	<input type="text" id='name'>
</div>
<div>
	<div>회원가입</div>
	<input type="button" id='btn_add' value='회원가입'>
</div>